*{ font-family:  Arial, Helvetica, sans-serif;
}

ul li:first-child{
color: slateblue;
}
ul li:nth-child(2){
    color: blue;
    }
    ul li:last-child{
        color: orange;
        }
        
#enlace {
    font-size: 30px;
    color: lightcoral;
}
#enlace:link {
    color: red;
}
#enlace:visited {
    color: red;
}

#enlace:hover{
    color: blue;
}

#enlace:active{
    color:green;
}
#xd:focus{
    border: red 5px solid;
}